[user]
    name = cosmin
    email = cr.rusucosmin@gmail.com
[github]
    user = rusucosmin
[core]
    autocrlf = input
[credential]
    helper = cache --timeout=3600
[color]
    ui = auto
[alias]
    show-graph = log --graph --abbrev-commit --pretty=oneline
