[submodule ".vim/bundle/gist-vim"]
	path = .vim/bundle/gist-vim
	url = https://github.com/mattn/gist-vim
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/bundle/vim-airline-themes"]
	path = .vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule ".vim/bundle/vim-bufferline"]
	path = .vim/bundle/vim-bufferline
	url = https://github.com/bling/vim-bufferline
[submodule ".vim/bundle/webapi-vim"]
	path = .vim/bundle/webapi-vim
	url = https://github.com/mattn/webapi-vim
