[user]
	name = rusucosmin
	email = cr.rusucosmin@gmail.com
[github]
	user = rusucosmin
[core]
	autocrlf = input
[credential]
	helper = cache --timeout=3600
[color]
	ui = auto
[push]
	default = simple
